<div id="bio" class="sideblock profile">
    <div class="bio clearfix">
        <a href="http://movoin.com"><img class="face" src="/statics/img/icon.png"></a>
        <a class="author" href="http://movoin.com">Allen Luo</a>
        <span class="job">Senior PHP Engineer</span>
    </div>
    <ul class="links clearfix">
        <li><a class="blue" href="https://github.com/movoin"><i class="icon-github"></i></a></li>
        <li><a class="orange" href="http://movoin.com"><i class="icon-vcard"></i></a></li>
        <li><a class="green" href="http://www.weibo.com/movoin"><i class="icon-weibo"></i></a></li>
    </ul>
</div>
