<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Allen Luo">
    <meta name="description" content="Allen's Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/statics/css/default.min.css" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!--[if lt IE 8]><script src="/statics/webfont/ie7/ie7.min.css"></script><![endif]-->
    <script type="text/javascript" src="/statics/js/min.js"></script>
</head>
<body>
    <div id="container" class="clearfix">

        {{ content }}

    </div>
    <script type="text/javascript">
    /* scrollUp Minimum setup */
    $(function () {
        $.scrollUp({scrollName: 'scrollUp', scrollDistance: 300, scrollFrom: 'top', scrollSpeed: 300, easingType: 'linear', animation: 'fade', animationInSpeed: 200, animationOutSpeed: 200, scrollText: 'Scroll to top', scrollTitle: false, scrollImg: true, activeOverlay: false, zIndex: 2147483647 });
    });
    </script>

</body>
</html>
