---
layout: default
---

<div class="block">
  <div class="post">
    <h2 class="post-title">{{ page.title }}</h2>
    <div class="post-date">Written by <span>{{ site.author }}</span> on <small>{{ page.date | date:'%Y/%m/%d' }}</small></div>
    <div class="post-tags">
    {% for tag in page.tags %}
      <a href="javascript:void(0)" class="tag">{{ tag }}</a>
    {% endfor %}
    </div>
    <div class="post-desc">{{ page.description }}</div>
    <article class="post-cnt clearfix">
      {{ content }}

      <div class="post-end">-- EOF --</div>
    </article>
  </div>
</div>
